*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  border-radius: 3px;
  margin-top: 1em;
}

h1,
h2 {
  font-family: "Playfair Display SC", serif;
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h3 {
  font-family: "Playfair Display SC", serif;
  margin: 0;
}

section {
  padding: 2.75em 0;
}

article {
  padding: 2.5em 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
}

.intro__title {
  margin-top: 1rem;
  font-size: 3rem;
}

.section-title {
  font-size: 2.25rem;
}

.article__title {
  font-size: 2.25rem;
}

.intro {
  background-color: #284b63;
  border-bottom: 1.5px solid #ddd0be;
  background-image: linear-gradient(
    315deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.125)
  );
  color: #fff;
  text-align: center;

  display: flex;
  align-items: center;
}

.next-game {
  background-color: #284b63;
  border-bottom: 2px solid #ddd0be;
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.125)
  );
  color: #fff;
  text-align: center;
}

.team {
  width: 100%;
}

.team-logo {
  width: 50%;
}

.VS {
  font-size: clamp(0.5rem, calc(2.5vw + 0.5rem), 2.5rem);
  align-self: center;
}

.article-one {
  background-color: #e5e5e5;
  color: #14213d;
}

.article-two {
  background-color: #14213d;
  color: #fca311;
}

.article__image {
  align-self: center;
}

@media (min-width: 800px) {
  .row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .col {
    width: 100%;
    align-self: center;
  }

  .col + .col {
    margin-left: 5em;
  }

  .intro__title {
    font-size: 3.75rem;
  }
}

@media (max-width: 800px) {
  .nav__list {
    justify-content: center;
  }
  .match {
    display: flex;
  }
  .VS {
    align-self: center;
    margin-right: 0.5em;
  }
  .row--reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.nav {
  font-size: 1rem;
  background-color: #14213d;
  padding: 0.15em;
  border-bottom: 1.5px solid #ddd0be;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav__item + .nav__item {
  margin-left: 2em;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__link:hover {
  color: #ddd0be;
}

/* KAMPPROGRAM */

.tabelloversikt {
  background-color: #ddd0be;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #284b63;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: right;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

/* RESPONSIVE TABELL */

@media (min-width: 870px) {
  .content-table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #284b63;
  }
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .align-left {
    text-align: center !important;
  }
}
@media (max-width: 870px) {
  .content-table thead {
    display: none;
  }

  .content-table tr {
    border-radius: 5px;
  }

  .content-table,
  .content-table tbody,
  .content-table tr,
  .content-table td {
    display: block;
    width: 100%;
  }
  .content-table tr {
    margin-bottom: 15px;
  }
  .content-table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .content-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
  .content-table tbody td {
    border-bottom: 1px solid #dddddd;
  }
  .content-table tbody td:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  .content-table tbody td:nth-of-type(odd) {
    background-color: #fff;
  }
  .content-table tbody tr.active-row {
    border: 2.25px solid #009879;
  }
}
